

.header_newflex{

 display: flex;
 justify-content: space-evenly;
  width: 1600px;

}
.header_central_newflex{
    width: 600px;
    display: flex;
    justify-content: space-around;
}


.head_wrapper_newflex{
    width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}


.head_p1_newflex{
    width: 266px;
    height: 3px;
font-family: 'Hind Siliguri';
font-size: 16px;
font-weight: 500;
letter-spacing: 0.145em;
text-align: left;
display: flex;
justify-content: flex-start;
color: #C72535;
opacity: 0.6;

}
.head_p2_newflex{
font-family: 'Hind Siliguri';
font-size: 61px;
font-weight: 600;
letter-spacing: 0em;
display: flex;
text-align: left;
color: rgb(3, 32, 250);
background: #a4d8ff;
opacity: 0.5;
}
.head_p22_newflex{
    font-family: 'Hind Siliguri' ,sans-serif;
    font-size: 61px;
    font-weight: 400;
    letter-spacing: 0em;
    display: flex;
    text-align: left;
    color: #030D15;
    flex-wrap: wrap;
}
.head_p3_newflex{
font-family: 'Hind Siliguri';
font-size: 20px;
font-weight: 400;
letter-spacing: 0em;
display: flex;
text-align: left;

}
.head_foot_left_newflex{
    font-family: 'Hind Siliguri', sans-serif;
font-size: 16px;
font-weight: 600;
letter-spacing: 0em;
text-align: left;

    width: 151px;    
    height: 58px;
    display: flex;
    justify-content: center ;
    align-items: center;
   
    background: #247CC0;
    color: white;
}

.left_head_newflex{
   width: 600px;
   height: 470px;
  
}
.bottom_newflex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 555px;
}
.head_foot_center_newflex{
    width: 71px;
height: 27px;
font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 500;
font-size: 20px;

text-align: center;
}
.head_foot_right_newflex{
width: 55px;
height: 27px;
font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 300;
font-size: 16px;

text-align: center;
text-decoration-line: line-through;
opacity: 0.5;

}

.pic_newflex{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 643px;
    height: 611px;
   
}
.footer1{
    width: 1140px;
    
    display: flex;
    justify-content: space-evenly ;
align-items: center;
margin-left: 200px;
height: 237px;
background: #FFFFFF;
box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
border-radius: 0px;
}
.main1_newflex{
height: 270px;
width: 1133px;
border-radius: 0px;
padding-left:200px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.text1{
    width: 256px;
    height: 63px;
}
.opacicity1_newflex{

text-decoration-line: line-through;
color: #030D15;
opacity: 0.5;
}
.left_text_main1_newflex{
    margin-left: 50px;
}
.oneline_newflex{
    display: flex;
justify-content: flex-start;
}
.gradient_left_newflex{
    width: 555px;
    height: 296px;
    background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gradient_text1_newflex{
    color:white;
    width: 200px;
   

}
.gradient_pic1_newflex{
width: 275px;   
}
.text1_left,.text1_right{
width: 300px;
height: 27px;
font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 500;
text-transform: uppercase;
opacity: 0.6;
}
.text2_left,.text2_right{
    font-family: 'Hind Siliguri' ,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 40px;
width: 300px;
}
.text3_left,.text3_right{
font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 27px;
width: 100px;
height: 27px;
text-align: center;

}
.gradient1_main_newflex{
   width: 1140px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 50px;
}
.bigpic_newflex{
    width: 1600px;
    padding-top: 200px;
   
}
.text_big_right_newflex{
    background: #F4F9FC;
    padding-top: 20px;
    position: relative;
padding-bottom: 40px;
 
    
  
}
.text_red_bigpic_newflex{
color:  #C72535;
 font-family: 'Hind Siliguri';
font-size: 14px;
font-weight: 500;
letter-spacing: 0.145em;
text-align: left;
padding-left: 1000px;


}
.text_bigh2_newflex{

font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 600;
font-size: 44px;
text-align: left;
padding-left: 1000px;

}
.text_main_big_newflex{
width: 30%;
padding-left: 1000px;
justify-content: flex-start;
font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
opacity: 0.6;
}
.text_same_right_newflex{  
width: 30%;
padding-left: 1000px;
padding-top: 20px;
font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 500;
font-size: 14px;
text-align: left;


}
.text_same_right_newflex::before {
    content: url("./Group 174.png");
    width: 328px;
    height: 27px;
    font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 500;
font-size: 14px;
}
.image_big_left_newflex{
    position: absolute;
    height: 800px;
 width: 807px;  
 bottom: -200px;
 left: 70px;
 transform: translate(100px,-210px);
 z-index: 100;
}
.vector_image_big_left_newflex{
position: absolute;
height: 698px;
width: 610px;
left: 70px;
transform: translate(100px,-210px);
}

